@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

body {
  font-family: "Roboto Slab", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

.contenedor {
  
  width: 100%;
  height: 100vh;
  
  
  
}
.logo{
    width: 80px;
}

.contenedor .izquierda{
    
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding-left: 10%;
    animation-duration: 1s;
    animation-name: conte-izquierda;
    
    
    
}

@keyframes conte-izquierda {
    0% {
      margin-top: 100%;
      
    }
    
    100% {
      margin-top: 0;
      
    }
  }

.contenedor .izquierda form{
    width: 70%;
    flex-direction: column;
    align-items: center;
}
form input{
    margin-top: 10px;
}
.contenedor .derecha{
    width: 40%;
    align-items: center;
    display: flex;
    animation-duration: 1s;
    animation-name: imgd1;
    
}
@keyframes imgd1 {
  0% {
    margin-left: 100%;
    
  }
  
  100% {
    margin-left: 0%;
    
    
  }
}
.contenedor .derecha2{
  width: 40%;
  align-items: center;
  display: none !important;
  
  animation-duration: 1s;
    animation-name: imgd2;
  
}
@keyframes imgd2 {
  0% {
    margin-left: 100%;
    
  }
  
  100% {
    margin-left: 0%;
    
    
  }
}
.derecha img{
  width: 100%;
  padding: 20px 20px;
  
  
  
}


.derecha2 img{
  width: 100%;
  padding: 20px 20px;
  
  
}


.contenedor .registrar{
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding-right: 10%;
    display: none ;
    left: 40%;
    animation-duration: 1s;
    animation-name: registrar;
    
   
    
}
.registro-izquierdo{
  width: 100%;
  padding: 10px 10px;
}
.registro-derecho{
  width: 100%;
  padding: 10px 10px;
}
@keyframes registrar {
    0% {
      right: 100%;
      
    }
    
    100% {
      right: 0%;
      
      
    }
  }



.registro-fin{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    align-items: center;
}
.superficial{
    position:absolute;
    right: 0;
    background-color: rgba(42, 172, 189, 0.26);
    height: 100vh;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 0 20px;
    animation-duration: 1s;
    animation-name: super1;
    
    
}

@keyframes super1 {
    0% {
      right: 40%;
      
    }
    
    100% {
        right: 0%;
      
    }
  }
.superficial2{
    
    position:absolute;
    display: none;
    background-color: rgba(42, 172, 189, 0.26);
    height: 100vh;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 0 20px;
    animation-duration: 2s;
    animation-name: super2;

}

@keyframes super2 {
    0% {
      left: 80%;
      
    }
    
    100% {
        left: 0%;
      
    }
  }
  


